<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button style="color: rgb(45, 129, 170)"></ion-menu-button>
        </ion-buttons>
        <ion-title><span style="float: left; width: 80%; text-align: left;">MY ORDERS </span>
        </ion-title>

    </ion-toolbar>
</ion-header>


<ion-content>

    <div class="slide-layout">
        <h5 style="text-align: center; padding: 15px; border-bottom: 1px solid white;"> ORDER STATUS:
            <span style="color: chartreuse;"> COMPLETED</span>
            <span style="color: yellow;"> IN PROGRESS</span>
        </h5>

        <span class="sub-layout">
            <p>Order ID: <b>5</b></p>
          <p>Customer Name: <b>Siddhant Gupta</b></p>
          <p>Phone Number: <b>8999090358</b></p> 
          <p>Order Date: <b>2019-12-16</b></p>
          
        </span>
    </div>

</ion-content>