.slide-layout {
    display: block;
    margin-left: 2.5vw;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 95vw;
    min-height: 32vh;
    background-color: rgb(12, 12, 19);
    border-radius: 5px;
}

.sub-layout p {
    margin-left: 10px;
}